<% @following_users.each do |user| %>
  <div>
    <% if @user.following?(user) %>
      <%= user.email %>
      <!---削除ボタン設置 -->
      <%= form_with model: @user.relationships.find_by(followed_id: user.uid), method: :delete do |f| %>
        <%= f.hidden_field :user_id, value: user.uid %>
        <%= f.submit "フォロー解除" %>
      <% end %>
    <% else %>
      <%= user.email %>
      <!-- フォローボタン接地 -->
    <% end %>
  </div>
<% end %>

