<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Study Now" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- ここからヘッダー -->
  <nav class="navbar navbar-expand bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-3 text-primary" href="/">StudyNow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to '頑張ってる友達を見る', realtime_path, class: 'nav-link' %>
          </li>
          <li class="nav-item  dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              友達
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "フォロー", followings_relationships_path, class: 'dropdown-item' %></li>
              <li><%= link_to "フォロワー", followers_relationships_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "ユーザ検索", search_users_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


      <div data-controller="auth" <%= "data-auth-require_auth-value=#{@require_auth || false} data-auth-uid-value=#{@uid}" %>>
        <%= yield %>
    </div>
  </body>
</html>
